<form method="POST" enctype="multipart/form-data">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputTitle">Title</label>
        <input type="text" class="form-control" id="inputTitle" placeholder="Title" value="<%= book.title %>" name="title" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputDescription">Description</label>
        <input type="text" class="form-control" id="inputDescription" placeholder="Description" value="<%= book.description %>" name="description" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAuthors">Authors</label>
      <input type="text" class="form-control" id="inputAuthors" placeholder="Authors" value="<%= book.authors %>" name="authors" required>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputFileCover">Pages</label>
        <input type="text" class="form-control" id="inputFileCover" placeholder="Pages" value="<%= book.pages %>" name="pages" required>
      </div>
    <div class="form-group file-loading col-md-3 mx-2">
        <label for="exampleFormControlFile1">Picture (please download one of the following formats: jpg, jpeg or png)</label>
        <input type="file" class="form-control-file file" id="exampleFormControlFile1" data-preview-file-type="text" value="<%= book.fileBook %>" name="fileBook" 
        onchange="document.getElementById('file-img').src = window.URL.createObjectURL(this.files[0]);
        document.getElementById('file-img').style.display='inline'" >
        <% if (book.fileBook) { %>
          <img src="/<%= img %>" alt="" id="file-img" style="max-width: 200px; box-shadow: 0px 0px 2px 0px rgba(34, 60, 80, 0.2); margin-top: 20px;
          "/>
        <% } else { %>   
          <img src="#" alt="" id="file-img" style="display: none; max-width: 200px; margin-top: 20px;"/>
        <% } %>
        <% if(imgErrorFormat) { %>
          <div class="alert alert-secondary my-2" role="alert"><%= imgErrorFormat %></div>
        <% } %>
    </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <% if (book.favorite) { %>
          <input class="form-check-input" type="checkbox" id="gridCheck" name="favorite" checked>
          <% } else { %>
          <input class="form-check-input" type="checkbox" id="gridCheck" name="favorite"> 
          <% } %>
        <label class="form-check-label" for="gridCheck">
            favorite
        </label>
      </div>
    </div>
    <button type="submit" class="btn bg-dark text-white">Create</button>
    <% if (clearButton) { %>
      <button type="reset" class="btn bg-dark text-white" onclick="document.getElementById('file-img').style.display = 'none'; document.getElementsByTagName('form').reset()">Clear</button>
    <% } %>
  </form>