<%- include('../port/layout-start', {title: title}) %>
<%- include('../port/menu') %>

<h1><%= title %></h1>
<a class="btn btn-sm bg-dark text-white" href="book/create">Add book</a>
<a class="btn btn-sm bg-dark text-white text-right" href="/books/download">Download</a>

    <% if(books.length) { %>

        <table class="table table-striped table-sm  mt-3">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col"><a href="/books/sorted" class="text-dark">Title</a></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
    
                <% books.map((el, idx) => {  %>
                    <tr>
                        <th scope="row"><%= idx +1 %></th>
                        <td><%= el.title %></td>
                        <td class="text-right">
                            <form method="POST" enctype="multipart/form-data" action="/book/delete/<%= el.id %>">
                                <a class="btn btn-sm bg-dark text-white" href="/book/<%= el.id %>">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                                <a class="btn btn-sm bg-dark text-white" href="/book/update/<%= el.id %>">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <button class="btn btn-sm bg-dark text-white" type="submit">&#128465;</button>
                            </form>

                        </td>
                    </tr>
                <% }) %>
    
            </tbody>
        </table>

    <% } else { %>   
        <hr>
        <h3 class="mt-5">There are no books in the library</h3>
    <% } %>    

    



<%- include('../port/layout-end') %>