
<%- include('../port/layout-start', {title: title}) %>
<%- include('../port/menu') %>

<h1><%= title %></h1>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <span>Title: </span><p class="card-title text-uppercase"><%= book.title %></p>
                        <span>Description: </span><p class="card-title text-uppercase"><%= book.description %></p>
                        <span>Authors: </span><p class="card-title text-uppercase"><%= book.authors %></p>
                        <span>Pages: </span><p class="card-title text-uppercase"><%= book.pages %></p>
                        <span>Favorite: </span>
                            <% if (book.favorite) { %>
                                <p class="card-title text-uppercase">True</p>
                            <% } else { %>
                                <p class="card-title text-uppercase">False</p>
                            <% } %>
                    </div>
                    <div class="col-md-6">
                        <div class="text-right">
                            <span class="bg-light p-1">Views: <%= book.views %></span>
                        </div>
                        <% if (book.fileBook) { %>
                            <img src="/<%= img %>" alt="" id="file-img" class="m-3" style="max-width: 200px; box-shadow: 0px 0px 2px 0px rgba(34, 60, 80, 0.2);
                            "/>
                        <% } else { %>
                            <div class="bg-light row align-items-center justify-content-center m-3" style="width: 200px; height: 150px; box-shadow: 0px 0px 2px 0px rgba(34, 60, 80, 0.2);
                            ">Image is empty</div>
                        <% } %>
                    </div>
                </div>

                <div class="text-right">
                    <a class="btn btn-sm bg-dark text-white" href="/book/update/<%= book.id %>">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
    <div id="list" class="list-group"></div>
</div>

<%- include('../port/layout-end') %>
